<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">SpringBootThymeleaf</title>
	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/jquery/3.4.1/jquery.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
</head>

<body>
	<!--header.html  that's here  -->
	<header>
		<div th:replace="fragments/header :: header"></div>
	</header>
	
	<div class="container">

		<div layout:fragment="content">
			<!-- Your Page Content Here -->
		</div>

	</div>

	<!--footer.html  that's here  -->
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>

	<!-- JS -->
	<script type="text/javascript" src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<!-- jquery -->
  	<script>
		$(document).ready(function() {
			// ..code
		});
	</script>
</body>
</html>